/project/target/
/project/pom.xml.tag
/project/pom.xml.releaseBackup
/project/pom.xml.versionsBackup
/project/pom.xml.next
/project/release.properties
/project/dependency-reduced-pom.xml
/project/buildNumber.properties
/project/.mvn/timing.properties
/project/src/test/webapp/node_modules/
node_modules/