body,
html {
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  margin: 0;
}

.preloader {
  height: 100%;
  position: absolute;
  width: 100%;
}

.preloader-container {
  left: 42vw;
  position: absolute;
  top: 26vh;
}

.preloader-container div {
  background-color: white;
  position: absolute;
  height: 6.5vh;
  margin: 0.5vh;
  width: 6.5vh;
}

.content {
  display: none;
}

.section {
  height: 100vh;
  user-select: none;
}

.hamburger-icon,
.languages,
.languages div {
  display: inline-block;
}

.languages {
  margin: 4vh;
}

.languages div {
  cursor: pointer;
}

.hamburger-icon {
  cursor: pointer;
  height: 3vh;
  position: absolute;
  right: 2vw;
  top: 2vw;
  width: 2.3vw;
}

.hamburger-icon div {
  background-color: black;
  height: 0.35vh;
  position: relative;
  width: 100%;
}

.hamburger-icon div::before,
.hamburger-icon div::after {
  background-color: black;
  content: "";
  height: 0.4vh;
  position: absolute;
  top: 1.5vh;
  width: 100%;
}

.hamburger-icon div::after {
  top: 3vh;
}

.hamburger-icon:hover div,
.hamburger-icon:hover div::before,
.hamburger-icon:hover div::after {
  background-color: gray;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 5vh 0;
}

nav {
  background-color: white;
  border-left: solid 0.2vw;
  display: none;
  position: absolute;
  right: 5%;
  top: 15%;
  z-index: 99;
}

nav,
.trends {
  font-size: 3vw;
}

li {
  margin: 7vh 0;
  padding-left: 4vw;
  user-select: none;
}

.title {
  font-size: 6vw;
  left: 30%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-18%, -70%);
}

.arrow-transition,
.slideshow-left,
.slideshow-right {
  border: solid black;
}

.arrow-transition,
.arrow-transition:hover {
  margin-left: 50vw;
  margin-top: 70vh;
}

.slideshow-left {
  margin-left: 20vw;
}

.slideshow-right {
  margin-left: 54vw;
}

.arrow-transition:hover,
.slideshow-left:hover,
.slideshow-right:hover {
  border: solid gray;
}

.arrow-transition,
.arrow-transition:hover,
.slideshow-left,
.slideshow-right,
.slideshow-left:hover,
.slideshow-right:hover {
  background-color: transparent;
  border-width: 0 0.4vw 0.4vw 0;
  display: inline-block;
  padding: 0.8vw;
  transform: rotate(45deg);
}

.slideshow-container {
  padding-top: 1vh;
}

.slideshow-arrows {
  cursor: pointer;
  margin-top: 8vh;
}

.slideshow-left,
.slideshow-left:hover {
  transform: rotate(135deg);
}

.slideshow-right,
.slideshow-right:hover {
  transform: rotate(-45deg);
}

.trends {
  margin: -5vh auto 4vh auto;
  max-width: 50vw;
  text-align: center;
}

.dot-container {
  position: relative;
  text-align: center;
}

.dot-container div {
  display: inline-block;
  margin: 1vh;
}

.dots {
  border: solid black;
  border-radius: 50%;
  cursor: pointer;
  padding: 1.5vh;
}

.dots:hover,
.dot-1 {
  background-color: rgb(226, 226, 226);
}

.articles {
  border: solid black;
  margin: 5vh 23vw;
  padding: 1vw 3vw;
}

.headers,
.subHeaders {
  font-weight: normal;
}

.headers {
  font-size: 2vw;
  margin-bottom: 4vh;
}

.headers:hover {
  color: gray;
}

.subHeaders {
  margin-top: -2vh;
  font-size: 2vh;
}

.subHeaders,
.sentiment-container {
  font-size: 1.5vw;
}

.right-justified {
  text-align: right;
}

.trend-frequency {
  display: table-cell;
  padding-left: 30vw;
  text-align: center;
  vertical-align: middle;
}

.trend-frequency-data {
  display: inline-grid;
  margin-left: auto;
  margin-right: auto;
}

.bubbles {
  align-items: center;
  border: solid 3px black;
  border-radius: 50%;
  display: inline-grid;
  margin: 0;
  text-align: center;
}

.sentiment-container {
  position: absolute;
  right: 11vw;
  max-width: 12vw;
}

.sentiment-key {
  background-image: linear-gradient(to right, #fed8f7, #c4ddfe);
  height: 3vh;
  margin: 0.5vh;
  width: 12vw;
}

.neg,
.pos {
  display: inline-block;
}

.neg {
  margin-right: 11vh;
}

.text-to-speech {
  font-size: 1vw;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .preloader-container {
    left: 42vw;
  }

  .preloader-container div {
    height: 150px;
    margin: 10px;
    width: 15px;
  }

  .hamburger-icon {
    right: 5vw;
    top: 5vw;
    width: 8vw;
  }

  .hamburger-icon div {
    height: 0.4vh;
  }

  .hamburger-icon div::before,
  .hamburger-icon div::after {
    top: 1.3vh;
  }

  .hamburger-icon div::after {
    top: 2.6vh;
  }

  nav {
    border-left: solid 0.5vw;
    display: none;
    left: 5%;
    position: absolute;
    top: 10%;
  }

  nav,
  .title {
    font-size: 14vw;
  }

  li {
    margin: 6vh 0;
    text-align: center;
  }

  .title {
    left: 27%;
    top: 38%;
  }

  .arrow-transition,
  .arrow-transition:hover {
    margin-left: 48vw;
    margin-top: 47vh;
  }

  .arrow-transition:hover,
  .slideshow-left:hover,
  .slideshow-right:hover,
  .arrow-transition,
  .slideshow-left,
  .slideshow-right {
    border-width: 0 1.7vw 1.7vw 0;
    padding: 2vw;
    transform: rotate(45deg);
  }

  .trend-frequency-data {
    left: 17%;
    max-width: 75vw;
    top: 125%;
  }

  .trend-frequency-data div {
    margin: 6vw 0;
  }

  .slideshow-left {
    margin-left: 15vw;
  }

  .slideshow-right {
    margin-left: 58vw;
  }

  .slideshow-left,
  .slideshow-left:hover {
    transform: rotate(135deg);
  }

  .slideshow-right,
  .slideshow-right:hover {
    transform: rotate(-45deg);
  }

  .trends {
    max-width: 55vw;
  }

  .dot-container {
    margin-top: -2vw;
  }

  .dots {
    height: 1.8vh;
    width: 1.8vh;
  }

  .articles {
    margin: 5vh 17vw;
    padding: 1vw 2vw;
    text-align: center;
  }

  .trends,
  .headers {
    font-size: 7vw;
  }

  .subHeaders {
    font-size: 5vw;
  }

   .sentiment-container {
    right: 23vw;
    top: 108vh;
    max-width: 52vw;
    font-size: 5vw;
  }

  .sentiment-key {
    width: 50vw;
  }

  .neg {
    margin-right: 13vh;
  }

  .trend-frequency {
    padding-left: 15vw;
  }

  .languages {
    font-size: 2vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .preloader-container {
    left: 42vw;
  }

  .preloader-container div {
    height: 150px;
    margin: 10px;
    width: 15px;
  }

  .hamburger-icon {
    right: 5vw;
    top: 5vw;
    width: 6vw;
  }

  .hamburger-icon div {
    height: 0.4vh;
  }

  .hamburger-icon div::before,
  .hamburger-icon div::after {
    top: 1.3vh;
  }

  .hamburger-icon div::after {
    top: 2.6vh;
  }

  ul {
    padding: 2vh 0;
  }

  nav {
    border-left: solid 0.5vw;
    left: 5%;
    position: absolute;
    top: 10%;
  }

  li {
    margin: 6vh 0;
    text-align: center;
  }

  nav,
  .title {
    font-size: 12vw;
  }

  .title {
    left: 27%;
    top: 45%;
  }

  .arrow-transition,
  .arrow-transition:hover {
    margin-left: 48vw;
    margin-top: 52vh;
    border-width: 0 1.5vw 1.5vw 0;
    padding: 2vw;
  }

  .trend-frequency-data {
    left: 22%;
    max-width: 70vw;
    top: 118%;
  }

  .slideshow-left {
    margin-left: 13vw;
  }

  .slideshow-right {
    margin-left: 64vw;
  }

  .slideshow-left,
  .slideshow-right,
  .slideshow-left:hover,
  .slideshow-right:hover {
    border-width: 0 1vw 1vw 0;
    padding: 1.5vw;
  }

  .trends {
    margin: -4vh auto 4vh auto;
    max-width: 60vw;
  }

  .dot-container {
    margin-top: -2.5vw;
  }

  .articles {
    margin: 5vh 19vw;
    padding: 1vw 2vw;
    text-align: center;
  }

  .trends,
  .headers,
  .subHeaders {
    font-size: 6vw;
  }

  .sentiment-container {
    right: 23vw;
    top: 108vh;
    max-width: 52vw;
    font-size: 5vw;
  }

  .sentiment-key {
    width: 50vw;
  }

  .neg {
    margin-right: 20vh;
  }

  .trend-frequency {
    padding-left: 17vw;
    padding-top: 12vw;
  }

  .languages {
    font-size: 2.5vh;
  }
}
